menu "Android"

config ANDROID
	bool "Android Drivers"
	default N
	---help---
	  Enable support for various drivers needed on the Android platform

if ANDROID

config ANDROID_BINDER_IPC
	tristate "Android Binder IPC Driver"
	default n

config ASHMEM
	tristate "Enable the Anonymous Shared Memory Subsystem"
	default n
	depends on SHMEM || TINY_SHMEM
	help
	  The ashmem subsystem is a new shared memory allocator, similar to
	  POSIX SHM but with different behavior and sporting a simpler
	  file-based API.

config ANDROID_LOGGER
	tristate "Android log driver"
	default n

config ANDROID_TIMED_OUTPUT
	tristate "Timed output class driver"
	default y

config ANDROID_TIMED_GPIO
	tristate "Android timed gpio driver"
	depends on GENERIC_GPIO && ANDROID_TIMED_OUTPUT
	default n

config ANDROID_LOW_MEMORY_KILLER
	tristate "Android Low Memory Killer"
	default N
	---help---
	  Register processes to be killed when memory is low

config RTC_INTF_ALARM
	tristate "Android alarm driver"
	depends on RTC_CLASS
	default y
	help
	  Provides non-wakeup and rtc backed wakeup alarms based on rtc or
	  elapsed realtime, and a non-wakeup alarm on the monotonic clock.
	  Also provides an interface to set the wall time which must be used
	  for elapsed realtime to work.

config RTC_INTF_ALARM_DEV
	tristate "Android alarm device"
	depends on RTC_INTF_ALARM
	default y
	help
	  Exports the alarm interface to user-space.

endif # if ANDROID

endmenu
